
*{margin: 0;
padding: 0;
box-sizing: border-box;}

#demo{
    z-index: 0;
}
#first{
    background-image: url("./images/university_logo.jpg");
    background-size: cover;background-repeat: no-repeat;
}